.Die {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

.Die[val="1"] {
    background-image: url('./assets/1.png');
}

.Die[val="2"] {
    background-image: url('./assets/2.png');
}

.Die[val="3"] {
    background-image: url('./assets/3.png');
}

.Die[val="4"] {
    background-image: url('./assets/4.png');
}

.Die[val="5"] {
    background-image: url('./assets/5.png');
}

.Die[val="6"] {
    background-image: url('./assets/6.png');
}
