#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section-header {
  font-size: 32px;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.section-header::after {
  
  content: '';
  display: block;
  width: 600px;
  height: 2px;
  background-color: whitesmoke;
  margin-top: 0.5rem;
}