ul.shopping-list {
    list-style-type: none;
    padding: 0;
}

ul.shopping-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #444;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    color: #fff;
    font-family: 'Patrick Hand', cursive;
}

ul.shopping-list li.completed {
    text-decoration: line-through;
    text-decoration-color: #ff6f61;
    text-decoration-thickness: 5px;
}

ul.shopping-list li span.item {
    font-weight: 600;
    font-size: 1.1rem;
}

ul.shopping-list li span.quantity {
    font-weight: 400;
    font-size: 0.9rem;
    color: #ddd;
    margin-left: 16px;
}